.json-tree * {
  font-size: 14px;
}

.json-comma {
}

.json-comment {
  color: darkolivegreen;
}

.json-primitive {
  font-weight: 600;
}

.json-primitive-boolean {
  color: darkgoldenrod;
}

.json-primitive-number,
.json-primitive-bigint,
.json-primitive-object,
.json-primitive-symbol,
.json-primitive-undefined {
  color: blue;
}

.json-primitive-string {
  color: green;
  font-weight: 300;
}
.json-primitive-string-url {
  color: purple;
}
.json-primitive-function {
  font-weight: 300;
}

.json-key {
}

.json-token {
}

.json-elements-container {
  border-left: 1px dotted #999;
  padding-left: 20px;
  margin-left: 4px;
}

@media only screen and (max-width: 768px) {
  .json-tree * {
    font-size: 12px;
  }
  .json-elements-container {
    padding-left: 12px;
    margin-left: 3px;
  }
}

@media (hover: hover) {
  .json-primitive-string-url:hover > * {
    text-decoration: underline;
  }
}
