.mobile {
  display: none;
}

.request-container {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .mobile-w-100 {
    width: 100%;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .request-container {
    width: 100%;
  }
  .input-container {
    flex-direction: column;
  }
}
