.mobile {
  display: none;
}

.w-70-100 {
  width: 70%;
}

@media only screen and (max-width: 820px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .w-70-100 {
    width: 100%;
  }
  .input-container {
    flex-direction: column;
  }
}
