:root {
  --breakpoint: 768px;
  --green: #80dc9d;
  --honeydew: #f3fff3;
  --ajui-link-color: #078255;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow-x: hidden;
  background-color: var(--honeydew);
}

.monospace {
  font-family: "monaco", monospace;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

input {
  background-color: white !important;
}

.page-title-text {
  font-size: calc(2.5rem + 1vw);
  font-weight: 700;
}

.bordering {
  border: 2px solid green;
}

.home-title-text {
  font-size: calc(3rem + 4vw);
  font-weight: 800;
}

.home-description {
  font-weight: 500;
  font-size: 1.25rem;
}

.spinning {
  animation: spin 25s linear infinite;
  transform-origin: center;
  width: 15vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.octo {
  opacity: 0;
  position: absolute;
  margin-left: -2rem;
  padding: 0.5rem;
}

.octo:focus {
  opacity: 1;
}

@media (hover: hover) {
  .has-octo-within:hover > .octo {
    opacity: 1;
  }
}
